@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;500;600;700&display=swap');

*::-webkit-scrollbar {
  width: 8px;
  max-height: 4px;
}
*::-webkit-scrollbar-track {
  background: #efefef;
}
*::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 300px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
}
